# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#dependencies
*.dep

#wmake auto Include folder
lnInclude
linux64GccDOpt
linuxGccDPOpt
